[Desktop Entry]
Name=Soul Searching
GenericName=Music Player
Exec=SoulSearching
Comment=Music player application.
Icon=io.github.enteraname74.soulsearching
Terminal=false
Type=Application
Categories=Audio;Player;Music;
Keywords=Music;Player;Audio;Songs;Playlist;Albums;Artists;