<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:requestLegacyExternalStorage="true"
        android:name="com.github.enteraname74.soulsearching.App"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoulSearching"
        tools:targetApi="33">
        <service
            android:name="com.github.enteraname74.soulsearching.features.playback.PlayerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"
            />

        <receiver
            android:name="com.github.enteraname74.soulsearching.features.playback.notification.receivers.ToggleFavoriteNotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.github.enteraname74.soulsearching.features.playback.notification.receivers.DeletedNotificationIntentReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.github.enteraname74.soulsearching.features.playback.notification.receivers.NextMusicNotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.github.enteraname74.soulsearching.features.playback.notification.receivers.PausePlayNotificationReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name="com.github.enteraname74.soulsearching.features.playback.notification.receivers.PreviousMusicNotificationReceiver"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name="com.github.enteraname74.soulsearching.MainActivity"
            android:exported="true"
            android:enableOnBackInvokedCallback="true"
            android:theme="@style/Theme.SoulSearching">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>